
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
   




}

.loginContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    background-image: url("/public/wp9764022-login-page-wallpapers.jpg");
    

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.5);
    

     
}

.loginH1{
    color: cornflowerblue;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;

}
.loginLabel{
    color: cornflowerblue;
    font-size: 20px;
    font-weight: 600;
 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;

}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
    background-color: transparent;
    




     
}



.loginBtn2{

    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 150px;
    
    font-size: 36px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);



    


}

.loginBtn2:hover{
    background-color: #2e4372;
}

     



.loginBtn{

    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);



    


}

.loginBtn:hover{
    background-color: #2e4372;
}

.loginBtn:active{
    background-color: #2e4372;
}

.loginBtn:focus{
    outline: none;
}

.loginBtn:disabled{
    background-color: #3b5998;
    color: #f5f5f5;
    cursor: not-allowed;
}

.loginBtn:disabled:hover{
    background-color: #3b5998;
    color: #f5f5f5;
    cursor: not-allowed;
}

.loginBtn:disabled:active{
    background-color: #3b5998;
    color: #f5f5f5;
    cursor: not-allowed;
}

.loginBtn:disabled:focus{
    outline: none;
}

.loginBtn:disabled:active:focus{
    outline: none;
}







.loginInput{
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


}

.loginInput:focus{
    outline: none;
    border: 1px solid #3b5998;
}

.loginInput:disabled{
    background-color: #f5f5f5;
    color: #3b5998;
    cursor: not-allowed;
}

.loginInput:disabled:focus{
    outline: none;
    border: 1px solid #f5f5f5;
}

.loginInput:disabled:active{
    background-color: #f5f5f5;
    color: #3b5998;
    cursor: not-allowed;
}

.loginInput:disabled:active:focus{
    outline: none;
    border: 1px solid #f5f5f5;
}

.loginInput:disabled:hover{
    background-color: #f5f5f5;
    color: #3b5998;
    cursor: not-allowed;
}

.loginInput:disabled:hover:focus{
    outline: none;
    border: 1px solid #f5f5f5;
}

.loginInput:disabled:active:hover{
    background-color: #f5f5f5;
    color: #3b5998;
    cursor: not-allowed;
}

.loginInput:disabled:active:hover:focus{
    outline: none;
    border: 1px solid #f5f5f5;
}

.loginInput:disabled:active:hover:active{
    background-color: #f5f5f5;
    color: #3b5998;
    cursor: not-allowed;
}

.loginInput:disabled:active:hover:active:focus{
    outline: none;
    border: 1px solid #f5f5f5;
}

.loginInput:disabled:active:hover:active:hover{
    background-color: #f5f5f5;
    color: #3b5998;
    cursor: not-allowed;
}

.loginInput:disabled:active:hover:active:hover:focus{
    outline: none;
    border: 1px solid #f5f5f5;
}

.loginInput:disabled:active:hover:active:hover:active{
    background-color: #f5f5f5;
    color: #3b5998;
    cursor: not-allowed;
}

.loginInput:disabled:active:hover:active:hover:active:focus{
    outline: none;
    border: 1px solid #f5f5f5;
}

.loginInput:disabled:active:hover:active:hover:active:hover{
    background-color: #f5f5f5;
    color: #3b5998;
    cursor: not-allowed;
}

.loginInput:disabled:active:hover:active:hover:active:hover:focus{
    outline: none;
    border: 1px solid #f5f5f5;
}



.loginLabel{
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    color: cornflowerblue;
  



}

.loginP{
    width: 1000px;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    color: white;

}








/* Path: src/loginPage/Login.js */




