/* .filter{

    margin: auto;
    width: 20%;
  }

  .fh1{
    text-align: center;
    color: cornflowerblue;
    font-size: 38px;
    font-weight:400;
  }

  .fh2{
    text-align: left;
    color: cornflowerblue;
    font-size: 18px;
   
  }

  .fi{
  position:absolute;
    top: 327px;
    left: 520px;
    width: 110px;
    height: 15px;
    border: 1px solid;
}
 .b4{
    width: 70px;
    height: 25px;
    font-size: 15px;
    margin: 5px;
  
  } */
